<!-- Include the necessary Font Awesome CSS link -->
@{
     ViewData["Title"] = "Success";
}
<header class="masthead" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fabove-view-home-desk-picture-id646645186%3Fk%3D6%26m%3D646645186%26s%3D170667a%26w%3D0%26h%3DHMJoOfCtNr8bbhmV1nVe0ykxgIqgqcHo16zIlB-AUj0%3D&f=1&nofb=1&ipt=d5b542057432202df9aa3ccadee730eb4c9ed7a67af8baf27b0f4dd313889e9f&ipo=images')">
     <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
               <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                         <h1>Clean Blog</h1>
                         <span class="subheading">Personal created Articles</span>
                    </div>
               </div>
          </div>
     </div>
</header>
<section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Your success message -->
<div id="successMessage" style="background-color: #dff0d8; color: #3c763d; padding: 10px; border-radius: 4px;">
     <i class="fa fa-check-circle" style="margin-right: 5px;"></i>
     <span style="font-weight: bold;">Success!</span> Your action was completed successfully.
</div>

<!-- Go Back button -->
<button onclick="goBack()" class="btn btn-primary" style="margin-top: 10px;">Go Back</button>

<!-- JavaScript function to handle going back -->
<script>
function goBack() {
  window.history.back();
}
</script>
</section>
